---
layout: default
title: Home
---
<!-- This is where the posts are starting -->
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>


    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
  <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}"><span class="fa fa-angle-double-left"></span></a>
  {% else %}
  <span class="pagination-item older"><span class="fa fa-angle-double-left"></span></span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}"><span class="fa fa-angle-double-right"></span></a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}"><span class="fa fa-angle-double-right"></span></a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer"><span class="fa fa-angle-double-right"></span></span>
  {% endif %}
</div>
