@import url(//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=latin,latin-ext);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,latin-ext);
@import url(//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic&subset=latin,latin-ext);
@import url(//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&subset=latin,latin-ext);
/*@import url(http://fonts.googleapis.com/css?family=Jura:400,600,500,300);*/
/*@import url(http://fonts.googleapis.com/css?family=Karla:400,700,700italic,400italic);*/

/* Overrides for the main elements */
html {
    font-family: 'Open Sans', Lato, 'Helvetica', 'sans-serif';
    font-weight: 300;
    font-size: 18px;
}
h1, h2, h3, h4, h5 {
    font-family: Lora, 'Open Sans Condensed', sans-serif;
    font-weight: 400;
}
a {
    /*color: #ffc828;*/
    /*color: #ff6600;*/
    /*color: #268bd2;*/
    /*color: #217AB8;*/
    color: #1E6EA6;
}
a:hover {
    /*color: #217AB8;*/
    /*color: #CCA020;*/
    color: #2CA0F2;
    transition: color 0.4s;
    text-decoration: none;
}

/* End overrides for main elements */

/* Pagination overrides */
.pagination-item {
    border: none;
}

/* End pagination overrides */

/* Overrides for sidebar */
.sidebar {
    background-color: #20272E;
}
.sidebar-about {
    margin-bottom: 30px;
}
.sidebar a  {
    font-family: 'Open Sans', 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.0em;
    /*font-size: 16px;*/
    text-shadow: 1px 1px 1px black;
}
.sidebar a:hover {
   /*color: #268bd2;*/
   /*color: #ffc828;*/
   color: #ff6600;
   text-decoration: none;
   transition: color 0.45s; 
} 
.sidebar-nav-item.active {
    font-weight: 300;
}
.sidebar-about > h1 {
    font-size: 1.9em;
}
/* End sidebar overrides */

/* New sidebar styles */

.sidebar-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: url('/images/cbtitle.jpeg') no-repeat;
    background-color: #000;
    /*background: url('/images/slayer1.jpg') no-repeat;*/
    border: 2px solid #fff;
    background-position: top;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    box-shadow: 1px 1px 2px black;
}
@media (max-device-width: 480px) and (orientation: portait) {
	.sidebar-image {
		margin-bottom: none;
	}
}
.social-badges {
    text-align: center;
    /*margin-top 70px;*/
 }
.social-badges > div {
    display: inline;
    margin-right: 10px;
    /*padding-right: 10px;*/
}
.sidebar-container {
    text-align: center;
}

/* Social badges styles */
.social-git > a:hover {
    color: #c0c0c0;
    transition: color .35s; 
}
.social-twitter > a:hover {
    color: #55acee;
    transition: color .35s;
}
.rss-feed > a:hover {
    color: #ff6600;
    transition: color .35s; 
}

